.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;

  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-content {
  background-color: #f9f8f4;
  box-shadow: 0px 0px 20px #ffffff;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 290px;
  height: 450px;
  margin: auto;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-radius: 38px;
  padding: 20px;
  /* font-size: 18px; */
  z-index: 100;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.modal-content::-webkit-scrollbar {
  display: none;
}
.btn_agree {
  text-align: center;
  border-radius: 20px;
  color: white;
  background-color: #435566;
  margin: 20px 0;
  padding: 5px 0;
  font-size: 18px;
}

body {
  overflow: hidden;
}
.btn_box {
  color: #7158e2;
  border: 1px solid;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  background-color: white;
  padding: 13px 67px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.btn_bgcolor {
  background: linear-gradient(to right, #cd84f1 0%, #7158e2 100%);
  color: white;
}
.btn_margin {
  margin: 5vw 0;
}
.line {
  border: 2px solid #435566;
  width: 23.8vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  left: 8vw;
  transition: 0.3s;
}

.line_active {
  width: 30.8vw;
  left: 34vw;
}

.seed_create,
.seed_import {
  background: #e3e3e3;
  box-shadow: 0px 1px 0px #898a8d;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

#tab_create_seed,
#tab_import_seed {
  display: inline-block;
  margin: 10px 0 0;
  border: 0px solid;
  width: 100%;
  height: 290px;
  position: relative;
  overflow: hidden;
  /* pointer-events: none; */
}

.tab_create_seed1,
.tab_import_seed1 {
  width: 100%;
  height: 100%;
  background-color: none;
  position: absolute;
  left: 0;
  transition: 0.4s;
}

.tab_import_seed1 {
  display: flex;
  padding: 2px;
}

.tab_create_seed2,
.tab_import_seed2 {
  width: 100%;
  height: 100%;
  background-color: none;
  position: absolute;
  right: -500px;
  transition: 0.4s;
}

.tab_import_seed2 {
  display: flex;
}

.input_seed {
  width: 100%;
  margin: 2px;
  background: none;
  border: none;
  outline: none;
}

.active1 {
  left: -500px;
}

.active2 {
  right: 0;
}
.bg-close {
  height: 100%;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  display: none;
}
.btn_done {
  background-color: #435566;
  color: white;
  padding: 5px 0;
  border-radius: 20px;
  padding: 5px 26px;
}
.input_style {
  background-color: none;
  border: none;
  width: 90%;
  height: 32px;
  background-color: rgba(240, 240, 240, 1);
  border-radius: 3px;
  box-shadow: 0px 1px 0px #898a8d;
  margin: 10px 5%;
  outline: none;
}
input{
  font-size: 20px;
}
